<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="mt-4"> &nbsp;</h1>

    <div class="read-main">
      <img class="movie-photo"
           th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null }"
           th:src="|/display?fileName=${dto.imageDTOList[0].getImageURL()}|"
      >
      <img class="movie-photo" src="https://geojecci.korcham.net/images/no-image01.gif"
           th:if="${!(dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null) }"
           th:src="|https://geojecci.korcham.net/images/no-image01.gif|"
      >

      <div>

    <form>

          <div class="form-group">
            <label >Title</label>
            <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly>
            <input type="hidden" class="form-control" name="mno" th:value="${dto.mno}">
          </div>

          <div class="form-group">
            <label >Review Count </label>
            <input type="text" class="form-control" name="title" th:value="${dto.reviewCnt}" readonly>
          </div>

          <div class="form-group">
            <label >Avg </label>
            <input type="text" class="form-control" name="title" th:value="${dto.avg}" readonly>
          </div>


    </form>
      </div>
    </div>

    <style>
      .uploadResult {
        width: 100%;
        background-color: gray;
        margin-top: 10px;
      }

      .uploadResult ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        vertical-align: top;
        overflow: auto;
      }

      .uploadResult ul li {
        list-style: none;
        padding: 10px;
        margin-left: 2em;
      }

      .uploadResult ul li img {
        width: 100px;
      }

      .btn-delete {
        color: #fff;
        background-color: #757575;
        border-color: #757575;
      }

      .btn-delete:hover {
        color: #fff;
        background-color: #757575;
        border-color: #757575;
      }

      .btn-delete:focus, .btn-delete.focus {
        color: #fff;
        background-color: #757575;
        border-color: #757575;
        box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
      }

      .btn-delete.disabled, .btn-delete:disabled {
        color: #fff;
        background-color: #757575;
        border-color: #757575;
      }

      .btn-delete:not(:disabled):not(.disabled):active, .btn-delete:not(:disabled):not(.disabled).active,
      .show > .btn-delete.dropdown-toggle {
        color: #fff;
        background-color: #757575;
        border-color: #757575;
      }

      .btn-delete:not(:disabled):not(.disabled):active:focus, .btn-delete:not(:disabled):not(.disabled).active:focus,
      .show > .btn-delete.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
      }

      ion-icon.active{
        animation:like 0.5s 1;
        fill:red;
        stroke:none;
      }

      ion-icon{
        fill:red;
        stroke:black;
        stroke-width:30;
        transition:all 0.5s;
        padding-left: 5px;
      }


      @-webkit-keyframes like {
        0%   { transform: scale(1); }
        90%   { transform: scale(1.2); }
        100% { transform: scale(1.1); }
      }

    </style>



    <!--<div class="uploadResult">
      <ul >
        <li th:each="movieImage: ${dto.imageDTOList}" th:data-file="${movieImage.getThumbnailURL()}">
          <img  th:if="${movieImage.path != null}" th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">
        </li>
      </ul>
    </div>-->



    <button type="button" class="btn btn-primary">
      리뷰 수 <span class="badge badge-light">[[${dto.reviewCnt}]]</span>
    </button>

    <button type="button" class="btn btn-info addReviewBtn">
      리뷰 등록
    </button>


    <button th:if="${(member.nickname).equals('관리자')}" type="button" class="btn btn-delete deleteBtn">
      영화 삭제
    </button>

    <div class="list-group reviewList">

    </div>

    <div class="reviewModal modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Movie Review</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <!--<label >Reviewer ID</label>
              <input type="text" class="form-control" name="mid" >-->
              <label >닉네임</label>
<!--
              <input type="text" class="form-control" name="nickname" th:value="${member.nickname}" readonly>
-->
              <input type="text" class="form-control" name="nickname" readonly>
              <input type="hidden" class="form-control" name="LoginMemberNickname" th:value="${member.nickname}" readonly>
              <input type="hidden" class="form-control" name="mid" th:value="${member.mid}" readonly>
            </div>
            <div class="form-group">
              <label >Grade <span class="grade"></span></label>
              <div class='starrr'></div>
            </div>
            <div class="form-group">
              <label >Review Text</label>
              <input type="text" class="form-control" name="text" placeholder="리뷰를 입력해주세요" >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary reviewSaveBtn">Save changes</button>
            <button type="button" class="btn btn-warning modifyBtn">Modify </button>
            <button type="button" class="btn btn-danger removeBtn">Remove </button>
          </div>
        </div>
      </div>
    </div>

    <div class="imageModal modal " tabindex="-2" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Picture</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/starrr.js}"></script>
    <link th:href="@{/css/starrr.css}" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">


    <script>
      $(document).ready(function (e) {

        var grade = 0;
        var mno = [[${dto.mno}]];

        $('.starrr').starrr({
          rating: grade,
          change: function(e, value){
            if (value) {
              console.log(value);
              grade = value;
            }
          }
        });

        //$(".reviewModal").modal("show"); //미리 보기용

        var reviewModal = $(".reviewModal");
        var inputMid = $('input[name="nickname"]');
        var inputText = $('input[name="text"]');
        var idText = $('input[name="mid"]');

        // 근본적 원인: 클릭시 inputmid 가 클릭된 객체에 따라서 변경됨
        // 로그인한 멤버의 nickname 을 고정해놓는 변수 필요

        var loginMemberNickname = $('input[name="LoginMemberNickname"]');
        var loginMemberId = $('input[name="mid"]');

        $(".addReviewBtn").click(function () {
          //inputMid.val(loginMemberNickname.toString());
          inputMid.val(loginMemberNickname.val());
          inputText.val("");

          $(".removeBtn ,  .modifyBtn").hide();
          $(".reviewSaveBtn").show();

          reviewModal.modal('show');
        });

        $('.reviewSaveBtn').click(function() {

          var data = {mno:mno, grade:grade, text:inputText.val(), mid: idText.val(), likeCount:0 };

          console.log(data);

          $.ajax({
            url:'/reviews/'+mno,
            type:"POST",
            data:JSON.stringify(data),
            contentType:"application/json; charset=utf-8",
            dataType:"text",
            success: function(result){

              console.log("result: " + result);

              self.location.reload();

            }
          })
          reviewModal.modal('hide');

        });

        function getMovieReviews() {

          function formatTime(str){
            var date = new Date(str);

            return date.getFullYear() + '/' +
                    (date.getMonth() + 1) + '/' +
                    date.getDate() + ' ' +
                    date.getHours() + ':' +
                    date.getMinutes();
          }

          $.getJSON("/reviews/"+ mno +"/all", function(arr){
            var str ="";

            $.each(arr, function(idx, review){

              console.log(review);

              /*
              str += '    <div class="card-body" data-reviewnum='+review.reviewnum+' data-mid='+review.mid+' data-nickname='+review.nickname+'>';
              str += '    <h5 class="card-title">'+review.text+'<br>'+'<h6 class="grade"><span>'+ review.grade+'</span>' +
                      ' 점  <button class="btn-likeCount">공감 '+ review.likeCount +'</button></h6></h5>' ;
              str += '    <h6 class="card-subtitle mb-2 text-muted" >'+review.nickname+'</h6>';
              str += '    <p class="card-text">'+ formatTime(review.regDate) +'</p>';
              str += '    </div>';

               */

              str += '    <div class="card-body" data-reviewnum='+review.reviewnum+' data-mid='+review.mid+' data-nickname='+review.nickname+'>';
              str += '    <h5 class="card-title">'+review.text+'<br>'+'<h6 class="grade"><span>'+ review.grade+'</span>' +
                      ' 점</div>' +
                      '<div class="card-body2"><div class="btn-likeCount" data-reviewnum='+review.reviewnum+'><ion-icon class="heart" name="heart"><div class="red-bg""></div>' +
                      '   </ion-icon>&nbsp; Like '+ review.likeCount +'</div></h6></h5>' ;
              str += '    <h6 class="card-subtitle mb-2 text-muted" >'+review.nickname+'</h6>';
              str += '    <p class="card-text">'+ formatTime(review.regDate) +'</p></div>';


            });

            $(".reviewList").html(str);
          });
        }

        getMovieReviews();

        var reviewnum;
        var reviwerNickname;

        $(".reviewList").on("click", ".card-body", function() {

          $(".reviewSaveBtn").hide();
          $(".removeBtn , .modifyBtn").show();


          var targetReview = $(this);

          console.log(targetReview);

          reviewnum = targetReview.data("reviewnum");
          reviwerNickname = targetReview.data("nickname")

          console.log("nickname:" + reviwerNickname);
          console.log("reviewnum: "+ reviewnum);
          inputMid.val(targetReview.data("nickname"));
          inputText.val(targetReview.find('.card-title').clone().children().remove().end().text());

          var grade = targetReview.find('.grade span').html();
          $(".starrr a:nth-child("+grade+")").trigger('click');

          $('.reviewModal').modal('show');
        });



        $(".modifyBtn").on("click", function(){

          if (reviwerNickname != loginMemberNickname.val()) {
            alert("자신이 작성한 댓글만 수정이 가능합니다.");
            modal.modal("hide");
            return;
          }

          var data = {reviewnum: reviewnum, mno:mno, grade:grade, text:inputText.val(), mid: idText.val() };

          console.log(data);

          $.ajax({
            url:'/reviews/'+mno +"/"+ reviewnum ,
            type:"PUT",
            data:JSON.stringify(data),
            contentType:"application/json; charset=utf-8",
            dataType:"text",
            success: function(result){

              console.log("result: " + result);

              self.location.reload();

            }
          })
          reviewModal.modal('hide');
        });

        $(".removeBtn").on("click", function(){

          if (reviwerNickname != loginMemberNickname.val()) {
            alert("자신이 작성한 댓글만 삭제가 가능합니다.");
            modal.modal("hide");
            return;
          }

          var data = {reviewnum: reviewnum};

          console.log(data);

          $.ajax({
            url:'/reviews/'+mno +"/"+ reviewnum ,
            type:"DELETE",
            contentType:"application/json; charset=utf-8",
            dataType:"text",
            success: function(result){

              console.log("result: " + result);

              self.location.reload();

            }
          })
          reviewModal.modal('hide');
        });

        $(".uploadResult li").click(function() {

          var file = $(this).data('file');

          console.log(file);

          $('.imageModal .modal-body').html("<img style='width:100%' src='/display?fileName="+file+"&size=1' >")

          $(".imageModal").modal("show");

        });


        /*
                $(".btn-delete").click(function () {

                  alert("클릭");

                  $.ajax({
                    url:'/movie/delete/'+mno ,
                    method:"POST",
                    success: function(result){

                      console.log("result: " + result);
                      if (result === 'success') {
                        alert("댓글이 삭제되었습니다.");
                        modal.modal('hide');

                        //삭제후 무비 리스트로 이동 필요

                      }

                    }
                  })
                });*/

        var actionForm = $("form");

        $(".btn-delete").click(function () {

          actionForm
                  .attr("action", "/movie/delete/" + mno)
                  .attr("method", "post");

          actionForm.submit();

        });

        $(document).on("click", ".btn-likeCount", function () {
          console.log("click!")

          var memberId = loginMemberId.val();
          var targetReview = $(this);

          let icon = document.querySelector('ion-icon');
          icon.classList.toggle('active');


          console.log(targetReview);


          reviewnum = targetReview.data("reviewnum");

          console.log(memberId);
          console.log("reviewnum: "+ reviewnum);

          var data = {reviewNum : reviewnum , memberId :memberId };

          $.ajax({
            url:'/heart',
            type:"Post",
            data:JSON.stringify(data),
            contentType:"application/json; charset=utf-8",
            dataType:"text",
            success: function(result){

              console.log("result: " + result);
              console.log(location.href);


              //window.location.reload();
              getMovieReviews();
              //$(".list-group").load(window.location.href + " .list-group");


            }
          });



        });

      });






    </script>


  </th:block>
</th:block>